<h1>All users</h1>

<div id='schedule_link'> 
<%= link_to "Search Users", searcher_path,  remote: true , :class => "btn btn-info" %>
</div>


<table>
 <table class="table table-hover">
  <thead>
    <tr>
      <th>User ID</th>
      <th>First Name</th>
      <th>Email</th>
      <th>Phone Number</th>
    </tr>
  </thead>
 <% @all_users.each do |user| %>  <tr>
    <td><%= user.id %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.phone_number %></td>
    <td><%= link_to "UPDATE", users_path, :class => "btn btn-primary" %></td>
    <td> <%= link_to "DELETE", user_path(user.id), method: :delete, data: {confirm: 'Are you sure?' } , :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

