<h1> Personal Info goes here </h1>
<% user =  User.find_by_id(session[:user_id]) %>
<%= user.name %> <%= user.email %> 
<%= link_to('Logout', logout_path , method: :delete) %> 
<%= link_to "Back to Profile", :back %>

<div id="link_update"> 
<%= link_to "UPDATE PERSONAL INFO", edit_user_path(session[:user_id]) %></li>
</div>
<div id="calender"> 
<% if user.address == nil  %>
<p> Looks like you haven't updated your personal info. <br>
<%= link_to "UPDATE PERSONAL INFO", edit_user_path(session[:user_id]) %></li>
<% else   %>
<p> <%= user.address %><br>
<p> <%= user.phone_number %><br>
</p>
<% end %>
</div>
</div>