<% user =  User.find_by_id(session[:user_id]) %>
<h1> Hi, <%= user.name %>! </h1>
</div>

<div id='schedule_link'> 
<%= link_to "Schedule Appointment", new_appointment_path , :class => "btn btn-primary" %>
<%= link_to "Manage Appointments", appointment_path(:id => session[:user_id]) , :class => "btn btn-info" %>
<% if user.status %>
<%= link_to "View All Users", users_path, :class => "btn btn-info" %>
<% end %>
</div>








<div id="calender">
<h3> Appointments (<%= @reuniones.count %>)</h3>
<%= month_calendar events: @reuniones do |date, eventos| %>
  <%= date.day %>
  <% eventos.each do |evento| %>
    <div>
      <% if evento.status == false %>
      <% x = " *unconfirmed*" %>
      <%= link_to evento.description + x , evento %>
     

      <% else %>
    
      <% x = " *confirmed*" %>
     <%= link_to evento.description + x , evento %> 
    </div>
     <% end %>
     <% end %>
<% end %>





