<h1>  Appointments </h1>

<% if @current_user.status %>
<h2> Hi Admin! </h2>
<div class="container">
  
<%= image_tag("apps.png", class: "apps_img") %>


  <% if @array.count >= 1 %>
  <div class="alert alert-info">
  </strong> PENDING CONFIRMATIONS <span class="badge"> <%= @array.count%></span>
</div>
 <% end %>


  <% if @reconfirmation.count >= 1 %>
<div class="alert alert-danger">
    <strong>RECONFIRMATIONS </strong> <span class="badge"> <%= @reconfirmation.count%></span>
  </div>
  <% end %>




  <div class="well">
  </div>
  <div class="new-product"></div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
       
      <% @reuniones.each do |meeting| %>

      <% meeting.users.ids.each do |id| %>
      <%  user = User.find_by_id(id) %>
      <% if user.status == false %>
        <td>  User :    </td>
        <th>  <%= user.name %> </th>
        <td>  Date :    </td>
        <th>  <%= meeting.start_time %> </th>
        <td>  Description : </td>
        <th>  <%= meeting.description %> </th>
        <td>  Duration  : </td>
        <th>  <%= meeting.duration %> </th>
        <td>  Confirmed ?   </td>
          <% if  meeting.status == false %> 
        <th>      NO        </th>
          <% else  %> 
        <th>      YES       </th> 
         <%  end %> 
        <th> <%= link_to "UPDATE", edit_appointment_path(meeting.id), :class => "btn btn-primary" %> </th>
         <th> <%= link_to "CONFIRM", confirm_path(meeting.id), data: {confirm: 'Are you sure?' } , :class => "btn btn-warning" %> </th>
        <th> <%= link_to "DELETE", appointment_path(meeting.id), method: :delete, data: {confirm: 'Are you sure?' } , :class => "btn btn-danger" %> </th>

        <th><%= link_to "User Info", personal_info_path(user.id), remote: true , class: "btn btn-info" %>
        </th>
    <% end %>
    <% end %>

        </td>
        </td>
      </tr>
    </thead>
    <%  end %>
  </table>


<% else %>



<div class="container">
  <%= image_tag("apps.png", class: "apps_img") %>
  <div class="well">
  </div>
  <div class="new-product"></div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
       
      <% @reuniones.each do |meeting| %>
        <td>  Date :    </td>
        <th>  <%= meeting.start_time %> </th>
        <td>  Description : </td>
        <th>  <%= meeting.description %> </th>
        <td>  Duration  : </td>
        <th>  <%= meeting.duration %> </th>
        <td>  Confirmed ?   </td>
          <% if  meeting.status == false %> 
        <th>      NO        </th>
          <% else  %> 
        <th>      YES       </th> 
         <%  end %> 
        <th> <%= link_to "UPDATE", edit_appointment_path(meeting.id),data: {confirm: 'Are you sure? If you Edit this appointment after if has been confirmed the admin will have to confirm it again' },  :class => "btn btn-primary" %> </th>
        <th> <%= link_to "DELETE", appointment_path(meeting.id), method: :delete, data: {confirm: 'Are you sure?' } , :class => "btn btn-danger" %> </th>

        </td>
      </tr>
    </thead>
    <%  end %>
  </table>
<%  end %>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>




